In [4]:
print('My name is {}'.format('Bramhani M'))

My name is Bramhani M

In [5]:
a=14
b=20
print('The sum of {} & {} is {}'.format(a,b,a+b))

The sum of 14 & 20 is 34

In [6]:
a=14
b=20
print('The difference of {} & {} is {}'.format(a,b,b-a))

The difference of 14 & 20 is 6

In [7]:
a=14
b=20
print('The difference of {} & {} is {}'.format(a,b,a-b))

The difference of 14 & 20 is -6

In [9]:
Name = 'Bramhani'
a = 4
b = 3
Tuple_type_Var = ( Name, a, b)

In [10]:
print(Tuple_type_Var)

('Bramhani', 4, 3)

In [11]:
MyList = list([1, (Tuple_type_Var)])
MyList

[1, ('Bramhani', 4, 3)]

In [16]:
MySet = set()
MySet.add(20)
MySet.add(Tuple_type_Var)
MySet

{('Bramhani', 4, 3), 20}

In [17]:
MySet.add([1, 2])
MySet

TypeError: unhashable type: 'list'

In [19]:
MySet2 = {100}
MySet2

{100}

In [22]:
my_dictionary = {'John' : 34, 'James' : 36, "Mary" : 30, "Ravi" : 45}
my_dictionary

{'John': 34, 'James': 36, 'Mary': 30, 'Ravi': 45}

In [25]:
my_dictionary.keys()

dict_keys(['John', 'James', 'Mary', 'Ravi'])

In [27]:
my_dictionary.values()

dict_values([34, 36, 30, 45])

In [40]:
#Task
CountryList =['India', 'Japan', 'Australia']
CountryList

['India', 'Japan', 'Australia']

In [41]:
CapitalList = ['Delhi', 'Tokyo', 'Canberra']
CapitalList

['Delhi', 'Tokyo', 'Canberra']

In [42]:
CurrencyTuple = ('Rupees', 'Yen', 'Australian Dollar')
CurrencyTuple

('Rupees', 'Yen', 'Australian Dollar')

In [43]:
MySet = set()
MySet.add(len(CountryList[0]))
MySet.add(len(CountryList[1]))
MySet.add(len(CountryList[2]))
MySet

{5, 9}

In [45]:
#Dictionary
MyDictionary = {}
MyDictionary

{}

In [47]:
MyDictionary = {'Country Name': CountryList,'Capital City':CapitalList,'Currency': CurrencyTuple,'CountryName_Len': MySet}
MyDictionary

{'Country Name': ['India', 'Japan', 'Australia'],
 'Capital City': ['Delhi', 'Tokyo', 'Canberra'],
 'Currency': ('Rupees', 'Yen', 'Australian Dollar'),
 'CountryName_Len': {5, 9}}

In [1]:
#DataStructures - Print the value of key ‘history’
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}


history_mark = sampleDict["class"]["student"]["marks"]["history"]

print("History marks:", history_mark)

History marks: 80

In [47]:
#Extract values of following keys - keys = ["name", "salary"]

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

Op_dict = sample_dict["name"], sample_dict["salary"]

print(Op_dict)

('Kelly', 8000)

In [30]:
#Remove the following keys - keys = ["name", "salary"]

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

del (sample_dict['name'], sample_dict['salary'])
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [45]:
#Remove the following keys - keys = ["name", "salary"]

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

#list
Keys_to_remove = ['name', 'salary']

for k in Keys_to_remove:
    sample_dict.pop(k)

print(sample_dict)

{'age': 25, 'city': 'New york'}