In [1]:
import pandas as pd
import numpy as np

In [3]:
ps= pd.Series([1,2,3])
ps

0    1
1    2
2    3
dtype: int64

In [4]:
ps.values

array([1, 2, 3])

In [7]:
ps= pd.Series([1,2,3], index = ['A','B','C'])
ps

A    1
B    2
C    3
dtype: int64

In [8]:
ps.index

Index(['A', 'B', 'C'], dtype='object')

In [13]:
#Create a dataframe from a dictionary where the keys are the names of countries, 
#the values are the gdp and indices are last 10 years. 
#Now try to find the average gdp combined for all countries over past 10 years.

my_DF = {'Country' : ['India', 'Australia', 'Japan'],
         'GDP' : [6.2, 1.6, 1.3]}
my_DF

{'Country': ['India', 'Australia', 'Japan'], 'GDP': [6.2, 1.6, 1.3]}

In [17]:
my_DF = pd.DataFrame(my_DF, index = [1,2,3])
my_DF

     Country  GDP
1      India  6.2
2  Australia  1.6
3      Japan  1.3

In [19]:
GDP_Avg = my_DF[['GDP']].mean()
GDP_Avg

GDP    3.033333
dtype: float64