In [1]:
import pandas as pd
import numpy as np

In [3]:
ps= pd.Series([1,2,3])
ps

0    1
1    2
2    3
dtype: int64

In [4]:
ps.values

array([1, 2, 3])

In [7]:
ps= pd.Series([1,2,3], index = ['A','B','C'])
ps

A    1
B    2
C    3
dtype: int64

In [8]:
ps.index

Index(['A', 'B', 'C'], dtype='object')

In [21]:
#Create a dataframe from a dictionary where the keys are the names of countries, 
#the values are the gdp and indices are last 10 years. 
#Now try to find the average gdp combined for all countries over past 10 years.

my_DF = {'India' : [6.2, 5.5, 3.3],
         'Australia' : [5.5, 1.6, 1.3],
        'Japan' :[5.5,4.5,5.5] }
my_DF

{'India': [6.2, 5.5, 3.3],
 'Australia': [5.5, 1.6, 1.3],
 'Japan': [5.5, 4.5, 5.5]}

In [23]:
my_DF = pd.DataFrame(my_DF, index = [str(2023 - i) for i in range(3)])
my_DF

      India  Australia  Japan
2023    6.2        5.5    5.5
2022    5.5        1.6    4.5
2021    3.3        1.3    5.5

In [24]:
GDP_Avg = my_DF.mean()
GDP_Avg

India        5.000000
Australia    2.800000
Japan        5.166667
dtype: float64

In [26]:
average_gdp = GDP_Avg.mean()

In [27]:
print("DataFrame:")
print(my_DF)
print("\nAverage GDP across all countries over the past 10 years:", average_gdp)

DataFrame:
      India  Australia  Japan
2023    6.2        5.5    5.5
2022    5.5        1.6    4.5
2021    3.3        1.3    5.5

Average GDP across all countries over the past 10 years: 4.322222222222223